@()

<script type="text/javascript">
var app = angular.module('DuxApp');

app.controller("editGroupUsersModalCtrl", function($scope, $http, $modalInstance, Group) {
    $scope.groupId = Group.Id;
    $scope.groupName = Group.Name;
    $scope.errors = {};
    $scope.allUsers = [];
    $scope.groupUsers = [];

    $scope.getAllUsers = function() {
        $http.post('/view-api/get-all-users').then( function successCallback(response) {
                $scope.allUsers = [];
                response.data.forEach(function(element, index, array) {
                    var user = {}
                    user.Id = element.Id;
                    user.Name = element.Name;
                    user.Email = element.Email;
                    $scope.allUsers.push(user);
                });
            });

        $http.post('/view-api/get-all-users-in-group', {Id: $scope.groupId}).then( function successCallback(response) {
                $scope.groupUsers = [];
                response.data.forEach(function(element, index, array) {
                    var user = {}
                    user.Id = element.Id;
                    user.Name = element.Name;
                    user.Email = element.Email;
                    $scope.groupUsers.push(user);
                });
            });
    }


    $scope.getAllUsers();

    $scope.autoComplete = function(query) {
        var queryUsers = [];

        $scope.allUsers.forEach(function(element, index, array) {
            if(element.Name.indexOf(query) > -1 || element.Email.indexOf(query) > -1) {
                queryUsers.push( element );
            }});

        return queryUsers;
    }

    $scope.ok = function () {
        $modalInstance.dismiss('cancel');
    };

    $scope.cancel = function () {
        $modalInstance.dismiss('cancel');
    };
});
</script>


<script type="text/ng-template" id="editGroupUsersModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Edit Users in {{groupName}}</h3>
    </div>
    <div class="modal-body">

        <tags-input ng-model="groupUsers" addFromAutocompleteOnly="true" display-property="Name" placeholder="Add user">
            <auto-complete source="autoComplete($query)"></auto-complete>
        </tags-input>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>