@()

<script type="text/javascript">
var app = angular.module('DuxApp');

app.controller("newEditGroupModalCtrl", function($scope, $http, $modalInstance, Group) {
    $scope.groupId = Group.Id;
    $scope.groupName = Group.Name;
    $scope.groupDescription = Group.Description;
    $scope.errors = {};
    $scope.allUsers = [];
    $scope.groupUsers = [];

    $scope.getAllUsers = function() {
        $http.post('/view-api/get-all-users').then( function successCallback(response) {
                $scope.allUsers = [];
                response.data.forEach(function(element, index, array) {
                    var user = {}
                    user.Id = element.Id;
                    user.Name = element.Name;
                    user.Email = element.Email;
                    $scope.allUsers.push(user);
                });
            });

        if($scope.groupId) {
            $http.post('/view-api/get-all-users-in-group', {Id: $scope.groupId}).then( function successCallback(response) {
                    $scope.groupUsers = [];
                    response.data.forEach(function(element, index, array) {
                        var user = {}
                        user.Id = element.Id;
                        user.Name = element.Name;
                        user.Email = element.Email;
                        $scope.groupUsers.push(user);
                    });
                });
        }
    }

    $scope.autoComplete = function(query) {
        var queryUsers = [];

        $scope.allUsers.forEach(function(element, index, array) {
            if(element.Name.indexOf(query) > -1 || element.Email.indexOf(query) > -1) {
                queryUsers.push( element );
            }});

        return queryUsers;
    }

    if($scope.groupId) {
        $scope.getAllUsers();
    }

    $scope.ok = function () {
        if($scope.groupName == ''){
            $scope.errors.groupName = true;
            return;
        }

        var url = '/view-api/new-group';
        if($scope.groupId) {
            url = '/view-api/edit-group';
        }

        var id = $scope.groupId;
        if(!id) {
            id = -1;
        }

        $http.post(url, {
            Id: id,
            Name: $scope.groupName,
            Description: $scope.groupDescription
        }).then( function successCallback(response) {
            if($scope.groupId) {

                var userIds = $scope.groupUsers.map(function(obj){
                    return obj.Id;
                });

                $http.post('/view-api/add-users-to-group', {
                    Id: id,
                    Ids: userIds
                }).then(
                    function successCallback(response) {
                        $modalInstance.refresh();
                        $modalInstance.close();
                    });
            } else {
                $modalInstance.refresh();
                $modalInstance.close();
            }
        });
    };

    $scope.cancel = function () {
        $modalInstance.dismiss('cancel');
    };
});
</script>

<script type="text/ng-template" id="newEditGroupModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ groupId ? 'Editing group ' + groupId : 'New Group' }}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group {{ errors.groupName ? 'has-error' : '' }}">
            <label class="control-label" for="groupName">Name</label>
            <input type="text" class="form-control" id="groupName" ng-model="groupName" tooltip-trigger="focus">
        </div>
        <div class="form-group">
            <label class="control-label" for="groupDescription">Description</label>
            <textarea type="text" class="form-control" rows="3" id="groupDescription" ng-model="groupDescription" tooltip-trigger="focus">
            </textarea>
        </div>

        <div class="form-group" ng-show="groupId">
            <label class="control-label">Users in Group</label>
            <tags-input ng-model="groupUsers" addFromAutocompleteOnly="true" display-property="Name" placeholder="Add user">
                <auto-complete source="autoComplete($query)"></auto-complete>
            </tags-input>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>