@()

<script type="text/javascript">
var app = angular.module('DuxApp');

app.controller("newPermissionModalCtrl", function($scope, $http, $modalInstance) {
    $scope.newPermissionName = '';
    $scope.newPermissionDescription = '';
    $scope.errors = {};


    $scope.ok = function () {
        if($scope.newPermissionName == ''){
            $scope.errors.newPermissionName = true;
            return;
        }

        $http.post('/view-api/new-permission', {
            Id: -1,
            Name: $scope.newPermissionName,
            Description: $scope.newPermissionDescription
        }).then( function successCallback(response) {
            $modalInstance.refresh();
            $modalInstance.close();
        });
    };

    $scope.cancel = function () {
        $modalInstance.dismiss('cancel');
    };
});
</script>


<script type="text/ng-template" id="newPermissionModal.html">
    <div class="modal-header">
        <h3 class="modal-title">New Permission</h3>
    </div>
    <div class="modal-body">
        <div class="form-group {{ errors.newPermissionName ? 'has-error' : '' }}">
            <label class="control-label" for="newPermissionName">Name</label>
            <input type="text" class="form-control" id="newPermissionName" ng-model="newPermissionName" tooltip-trigger="focus">
        </div>
        <div class="form-group">
            <label class="control-label" for="newPermissionDescription">Description</label>
                <textarea type="text" class="form-control" rows="3" id="newPermissionDescription" ng-model="newPermissionDescription" tooltip-trigger="focus">
                </textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>