@(viewData: ObjectNode, response: auth.models.BasicAuthViewResponse)


@main(response) {

<script type="text/javascript">
        var app = angular.module('DuxApp');

        app.controller("AppsCtrl", function($scope, $http) {

          $scope.Apps = [];

          $scope.refresh = function() {
            $http.post('/view-api/get-all-apps').then(
                function successCallback(response) {
                    $scope.Apps = response.data;
                });
          }

          $scope.refresh();
        });
    </script>

<div ng-controller="AppsCtrl" class="container">

    <table class="table table-striped table-bordered">
        <tr>
            <th class="col-sm-2">ID</th>
            <th class="col-sm-3">Name</th>
            <th class="col-sm-5">Description</th>
            <th class="col-sm-2"></th>
        </tr>
        <tr ng-repeat="app in Apps">
            <td>{{app.Id}}</td>
            <td>{{app.Name}}</td>
            <td>{{app.Description}}</td>
            <td><i class="fa fa-1-4x fa-trash"></i></td>
        </tr>
    </table>

</div>
}
