@(viewData: ObjectNode, response: auth.models.BasicAuthViewResponse)


@main(response) {

<script type="text/javascript">
        var app = angular.module('DuxApp');

        app.controller("PermissionsCtrl", function($scope, $http, $uibModal) {

          $scope.Permissions = [];

          $scope.refresh = function() {
            $http.post('/view-api/get-all-permissions').then(
                function successCallback(response) {
                    $scope.Permissions = response.data;
                });
          }

          $scope.refresh();

          $scope.openNewModal = function () {
            var modalInstance = $uibModal.open({
                templateUrl: 'newPermissionModal.html',
                controller: 'newPermissionModalCtrl'
            });

            modalInstance.refresh = function() {
                $scope.refresh();
            }
          }
        });
    </script>

<div ng-controller="PermissionsCtrl" class="container">

    <div class="row">
        <div class="col-sm-10"></div>
        <button class="col-sm-2 btn btn-default" ng-click="openNewModal()">New Permission</button>
    </div>

    <br />

    <div class="row">
        <table class="table table-striped table-bordered">
            <tr>
                <th class="col-sm-2">ID</th>
                <th class="col-sm-3">Name</th>
                <th class="col-sm-5">Description</th>
                <th class="col-sm-2"></th>
            </tr>
            <tr ng-repeat="permission in Permissions">
                <td>{{permission.Id}}</td>
                <td>{{permission.Name}}</td>
                <td>{{permission.Description}}</td>
                <td><i class="fa fa-1-4x fa-trash"></i></td>
            </tr>
        </table>
    </div>

    @modals.newPermission()
</div>
}
