@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/common/css/paper-bootstrap.min.css")">

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="@routes.Assets.versioned("lib/common/images/favicons/apple-touch-icon-57x57.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.versioned("lib/common/images/favicons/apple-touch-icon-114x114.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.versioned("lib/common/images/favicons/apple-touch-icon-72x72.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@routes.Assets.versioned("lib/common/images/favicons/apple-touch-icon-144x144.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="@routes.Assets.versioned("lib/common/images/favicons/apple-touch-icon-60x60.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="@routes.Assets.versioned("lib/common/images/favicons/apple-touch-icon-120x120.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="@routes.Assets.versioned("lib/common/images/favicons/apple-touch-icon-76x76.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="@routes.Assets.versioned("lib/common/images/favicons/apple-touch-icon-152x152.png")" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("lib/common/images/favicons/favicon-196x196.png")" sizes="196x196" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("lib/common/images/favicons/favicon-96x96.png")" sizes="96x96" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("lib/common/images/favicons/favicon-32x32.png")" sizes="32x32" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("lib/common/images/favicons/favicon-16x16.png")" sizes="16x16" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("lib/common/images/favicons/favicon-128.png")" sizes="128x128" />
        <meta name="application-name" content="@title"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="@routes.Assets.versioned("lib/common/images/favicons/mstile-144x144.png")" />
        <meta name="msapplication-square70x70logo" content="@routes.Assets.versioned("lib/common/images/favicons/mstile-70x70.png")" />
        <meta name="msapplication-square150x150logo" content="@routes.Assets.versioned("lib/common/images/favicons/mstile-150x150.png")" />
        <meta name="msapplication-wide310x150logo" content="@routes.Assets.versioned("lib/common/images/favicons/mstile-310x150.png")" />
        <meta name="msapplication-square310x310logo" content="@routes.Assets.versioned("lib/common/images/favicons/mstile-310x310.png")" />

        <script src="@routes.Assets.versioned("lib/common/js/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/common/js/angular-animate.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/common/js/ui-bootstrap-tpls-0.14.2.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
    <script>
        angular.module('@title', [
            'ngAnimate',
            'ui.bootstrap'
        ]);
    </script>
</html>
