.centered {
    vertical-align: middle;
}

.inline-input-wrapper .full-width {
    width: 100%;
}

.navbar-form form {
    padding: 0px 15px;
}

.inline-input-wrapper {
    display: block;
    overflow: hidden;
}

.fa-1-4x {
    font-size: 1.4em;
}

.navbar-brand img {
    display: inline-block;
}

.no-padding {
    padding: 0px;
}

.container-fluid nav {
    border-radius: 0px;
}
