@(viewData: ObjectNode, response: auth.models.BasicAuthViewResponse)


@main(response) {

<script type="text/javascript">
        var app = angular.module('DuxApp');

        app.controller("GameCtrl", function($scope, $http, $uibModal) {

            $scope.gameId = @viewData.get("GameId");
            $scope.totalLeaderboards = @viewData.get("TotalLeaderboards");
            $scope.activeLeaderboards = @viewData.get("ActiveLeaderboards");
            $scope.leaderboards = [];

            $scope.getLeaderboardStateClass = function(leaderboard) {
                if(!leaderboard.startTime)
                    return '';
                if( !leaderboard.endTime)
                    return 'success';
                if( new Date(Date.now()) >= leaderboard.endTime)
                    return 'danger';
                if( new Date(Date.now()) < leaderboard.endTime && new Date(Date.now()) >= leaderboard.startTime)
                    return 'success';
                return '';
            }

            $scope.getLeaderboards = function() {
                $http.post('/api/get-leaderboards-for-game', {gameId: $scope.gameId}).then(
                    function successCallback(response) {
                        $scope.leaderboards = [];
                        response.data.forEach(function(item){
                            var leaderboard = {};
                            leaderboard.leaderboardName = item.leaderboardName;
                            leaderboard.startTime = item.startTime ? new Date(item.startTime) : null;
                            leaderboard.endTime = item.endTime ? new Date(item.endTime) : null;
                            leaderboard.ordering = item.descending ? 'Descending' : 'Ascending';

                            $http.post('/api/get-leaderboard-count', {gameId: $scope.gameId, leaderboardName: leaderboard.leaderboardName}).then(
                                function successCallback(response) {
                                    leaderboard.count = parseInt(response.data);
                                });

                            $scope.leaderboards.push(leaderboard);
                        });
                    });
            }

            $scope.openEditModal = function (leaderboard) {

                var modalInstance = $uibModal.open({
                    templateUrl: 'editLeaderboardModal.html',
                    controller: 'EditModalCtrl',
                    resolve: {
                        leaderboard: function () {
                            return leaderboard;
                        },
                        gameId: function () {
                            return $scope.gameId;
                        }
                    }
                });

                modalInstance.getLeaderboards = function() {
                    $scope.getLeaderboards()
                }
            }

            $scope.getLeaderboards();
        });

        app.controller("EditModalCtrl", function($scope, $http, $modalInstance, leaderboard, gameId) {
            $scope.gameId = gameId;
            $scope.leaderboard = leaderboard;
            $scope.startTime = leaderboard.startTime ? dateToYYYYMMDD_HHMMSS(leaderboard.startTime) : null;
            $scope.endTime = leaderboard.endTime ? dateToYYYYMMDD_HHMMSS(leaderboard.endTime) : null;
            $scope.startTimeHasError = false;
            $scope.endTimeHasError = false;

            $scope.ok = function () {
                if( $scope.startTime ) {
                    $scope.startTimeHasError = !date_YYYYMMDD_HHMMSS_ValidationRegex.test($scope.startTime);
                }

                if( $scope.endTime ) {
                    $scope.endTimeHasError = !date_YYYYMMDD_HHMMSS_ValidationRegex.test($scope.endTime);
                }

                if( $scope.startTimeHasError || $scope.endTimeHasError ) {
                    return;
                }

                var startDate = null;
                var endDate = null;

                if( $scope.startTime ) {
                    var splitStart = $scope.startTime.split(' ');
                    startDate = new Date(splitStart[0] + 'T' + splitStart[1] + 'Z');
                }

                if( $scope.endTime ) {
                    var splitEnd = $scope.endTime.split(' ');
                    endDate = new Date(splitEnd[0] + 'T' + splitEnd[1] + 'Z');
                }

                $http.post('/api/edit-leaderboard',
                    {
                        gameId: $scope.gameId,
                        leaderboardName: $scope.leaderboard.leaderboardName,
                        startTime: startDate ? startDate.getTime() : -1,
                        endTime: endDate ? endDate.getTime() : -1
                    }).then(
                        function successCallback(response) {
                            $modalInstance.getLeaderboards();
                            $modalInstance.close();
                        });
            };

            $scope.cancel = function () {
                $modalInstance.dismiss('cancel');
            };
        });
    </script>

<div ng-controller="GameCtrl" class="container">

    <script type="text/ng-template" id="editLeaderboardModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit: {{leaderboard.leaderboardName}}</h3>
        </div>
        <div class="modal-body">
            <div class="form-group {{ startTimeHasError ? 'has-error' : '' }}">
                <label class="control-label" for="startTimeEditInput">Start Time (UTC)</label>
                <input type="text" class="form-control" id="startTimeEditInput" ng-model="startTime" uib-tooltip="YYYY-MM-DD HH:MM:SS" tooltip-trigger="focus">
            </div>
            <div class="form-group {{ endTimeHasError ? 'has-error' : '' }}">
                <label class="control-label" for="endTimeEditInput">End Time (UTC)</label>
                <input type="text" class="form-control" id="endTimeEditInput" ng-model="endTime" uib-tooltip="YYYY-MM-DD HH:MM:SS" tooltip-trigger="focus">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <div class="row">
        <div class="col-xs-2">
            <h3>Game: {{gameId}}</h3>
        </div>
        <div class="pull-right col-xs-4">
            <h3>Active: {{activeLeaderboards}} Total: {{totalLeaderboards}}</h3>
        </div>
    </div>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th class="col-xs-2">Name</th>
                <th class="col-xs-2">Count</th>
                <th class="col-xs-3">Start Date (UTC)</th>
                <th class="col-xs-3">End Date (UTC)</th>
                <th class="col-xs-1">Ordering</th>
                <th class="col-xs-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="leaderboard in leaderboards"  class="{{ getLeaderboardStateClass(leaderboard) }}">
                <td><a href="/{{gameId}}/{{leaderboard.leaderboardName}}">{{leaderboard.leaderboardName}}</a></td>
                <td>{{leaderboard.count}}</td>
                <td>{{leaderboard.startTime.toUTCString()}}</td>
                <td>{{leaderboard.endTime.toUTCString()}}</td>
                <td>{{leaderboard.ordering}}</td>
                <td>
                    <span class="pull-right">
                        <i ng-click="openEditModal(leaderboard)" class="fa fa-pencil-square-o"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

</div>


}
