@(viewData: ObjectNode, response: auth.models.BasicAuthViewResponse)


@main(response) {

    <script type="text/javascript">
        var app = angular.module('DuxApp');

        app.controller("IndexCtrl", function($scope, $http) {
            $scope.search = function() {
                if($scope.gameId) {
                    window.location.href = "/" + $scope.gameId;
                }
            };

            $scope.totalLeaderboards = @viewData.get("TotalLeaderboards");
            $scope.activeLeaderboards = @viewData.get("ActiveLeaderboards");
        });
    </script>

    <div ng-controller="IndexCtrl" class="container">

        <div class="row">
            <div class="col-xs-12 col-md-offset-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Find Game</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-inline">
                            <div class="inline-group">
                                <button class="input-group-addon pull-right" ng-click="search()">
                                    <i class="centered fa fa-search fa-2x"></i>
                                </button>
                                <span class="inline-input-wrapper">
                                    <input type="text" ng-model="gameId" class="full-width form-control" placeholder="Game ID">
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <h3>Active leaderboards: {{activeLeaderboards}}</h3>
                <uib-progressbar value="activeLeaderboards" max="totalLeaderboards" type="success">
                </uib-progressbar>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <h3>Total leaderboards: {{totalLeaderboards}}</h3>
                <uib-progressbar value="100">
                </uib-progressbar>
            </div>
        </div>
    </div>


}
